<template>
    <div>
        <label for="newPreset">Nouveau Timer : </label>
        <input id="newPreset" v-model.number="newPreset" type="number" v-on:keyup.enter="$emit('new-preset', newPreset)" placeholder="Ajouter une durée...">
        <button @click="$emit('new-preset', newPreset)">Ajouter</button>
    </div>
</template>

<script>
    export default {
        name: "TimerAddNew",
        data() {
            return {
                newPreset: undefined
            }
        }
    }
</script>

<style scoped>
    input {
        border: none;
        background: lightblue;
        text-align: right;
        border: lightblue;
        border-radius: 10px;
        height: 30px;
        padding: 0 10px;
        outline: 0;
    }

    button {
        color: darkblue;
        background: lightblue;
        border-color: lightblue;
        border-radius: 5px;
        height: 30px;
        width: 75px;
        margin: 0 20px;
        outline: 0;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }

</style>