<template>
    <div class="wrapper">
        <h1 class="title">My Awesome Timer</h1>
        <div v-if="timesUp" class="timer">Time's up !</div>
        <div v-if="!timesUp" class="timer">{{ hours | two_digits }}:{{ minutes | two_digits }}:{{ seconds | two_digits }}</div>
        <TimerButtons :presets="presets" @init-timer="initTimer"/>
        <TimerAddNew @new-preset="addPreset"/>
    </div>
</template>

<script>
    import TimerButtons from './TimerButtons.vue';
    import TimerAddNew from "./TimerAddNew";

    export default {
        name: "Timer",
        components: {
            TimerButtons,
            TimerAddNew
        },
        created() {
            this.initTimer(0)
        },
        watch : {
            counter: function () {
                if (this.counter <= 0) {
                    this.counter = 0;
                    clearInterval(this.intervalId);
                }
            }
        },
        data() {
            return {
                counter: 0,
                presets : new Set([15, 30, 45, 60, 90])
            }
        },
        methods: {
            intervalFunc() {
                this.counter -= 1;
                // eslint-disable-next-line no-console
                // console.log('tick');
            },
            initTimer(timeInMin) {
                this.counter = timeInMin * 60;
                clearInterval(this.intervalId);
                this.intervalId = window.setInterval(this.intervalFunc, 1);
            },
            addPreset(newPreset) {
                this.presets.add(newPreset);
                this.presets = new Set([...this.presets].sort((a, b) =>  a-b));
                this.initTimer(newPreset);
            }
        },
        computed: {
            timesUp() {
                return this.counter === 0;
            },
            seconds() {
                return (this.counter) % 60;
            },
            minutes() {
                return Math.trunc(this.counter / 60) % 60;
            },
            hours() {
                return Math.trunc(this.counter / 60 / 60) % 24;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .wrapper > * {
        flex: 1 100%;
        margin: 1em auto;
    }

    .title {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: capitalize;
    }

    .timer {
        font-size: xxx-large;
    }
</style>
