<template>
    <div class="presets-buttons">
        <div v-for="preset in presets" v-bind:key="preset">
            <button v-on:click="$emit('init-timer', preset)">{{ preset }} Min</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TimerButtons",
        props: {
            presets: Set
        }
    }
</script>

<style scoped>
    .presets-buttons {
        display: flex;
        justify-content: center;
    }

    .presets-buttons > * {
        flex: 1 100%;
    }

    button {
        color: RED;
        background: PINK;
        border-radius: 5px;
        border-color: PINK;
        height: 40px;
        width: 100px;
        margin: 10px;
        outline: 0;
    }
</style>
